# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Python (FastAPI Backend)
# Virtual environment
venv/
.env
*.env

# Byte-compiled and cache files
__pycache__/
*.py[cod]

# Packages and dependencies
*.egg-info/
.eggs/
*.sqlite3

# Pytest and coverage
.pytest_cache/
htmlcov/
coverage.xml

# SQLite database (ignore the database file)
*.db

# Node.js (React Frontend)
# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Temporary files
*.tmp
*.cache

# Environment variables
.env

note.md